<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.Documents.Imaging" publicKeyToken="d55d733d2bfd5065" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="C1.Zip" publicKeyToken="79882d576c6336da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.20241.6" newVersion="2.0.20241.6" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
