<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PdfViewerWasm</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="html-lists">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Html Lists
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="html-tables">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Html Tables
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="word-sample">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Word Sample
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="xl-sheet">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Excel Sheet
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="xl-report">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Excel Report
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="xl-sample">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Excel Sample
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
