@page "/exceldata"

<PageTitle>Weather forecast</PageTitle>

@using C1.Excel;
@using System.Drawing;
@using ExcelWeb.Data;

@inject WeatherExcelService ExcelService

<h1>Weather Excel forecast</h1>

<p>This component demonstrates fetching Excel file data from a service.</p>

@if (forecast == null || weathers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var weather in weathers)
            {
                <tr>
                    <td>@weather.Date.ToShortDateString()</td>
                    <td>@weather.TemperatureC</td>
                    <td>@weather.TemperatureF</td>
                    <td>@weather.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<WeatherForecast>? weathers;
    private byte[]? forecast;

    protected override async Task OnInitializedAsync()
    {
        forecast = await ExcelService.GetExcelAsync(DateTime.Now);
        if (forecast != null)
        {
            var book = new C1XLBook();
            using (var ms = new MemoryStream(forecast))
            {
                book.Load(ms, FileFormat.OpenXml);
            }
            ReadRows(book);
        }
    }

    void ReadRows(C1XLBook book)
    {
        int start = -1;
        var sheet = book.Sheets[0];
        weathers = new List<WeatherForecast>();
        for (int r = 0; r < ushort.MaxValue; r++)
        {
            if (r > 0 && sheet[r, 1].Text.Length == 0)
            {
                break;
            }
            if (start >= 0)
            {
                var weather = new WeatherForecast()
                {
                    Date = (DateTime)sheet[r, 1].Value,
                    TemperatureC = (int)(double)sheet[r, 2].Value,
                    Summary = (string)sheet[r, 4].Value,
                };
                weathers.Add(weather);
            }
            else if (sheet[r, 1].Text.Equals("Date") && sheet[r, 4].Text.Equals("Summary"))
            {
                start = r;
            }
        }
    }
}
